x
.icon-block {
  padding: 0 15px;
}
.icon-block .material-icons {
	font-size: inherit;
}
.dropdown-content{
	width: 180px !important;
    top: 65px !important;
}

.dropdown-content li > a {
	color:grey;
}

.indigo-text{
	color: #0059a4 !important;
}

.indigo{
	background-color: #0059a4 !important;
}

.headingFont{
	font-size:3rem;
	font-weight:700;
}